on early-boot

on boot
    # Xiaomi touch
    chown system system /dev/xiaomi-touch
    chmod 0660 /dev/xiaomi-touch

    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    chmod 0666 /dev/input/event2

on post-fs-data
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/misc/mi_fp 0770 system system
    mkdir /persist/mi_fp 0770 system system
    mkdir /mnt/vendor/persist/mi_fp 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fpdata 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
    mkdir /mnt/vendor/persist/fingerprint 0770 system system

on property:vendor.post_boot.parsed=1
    # Set default thermal profile
    write /sys/class/thermal/thermal_message/sconfig 0

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock oem_2912 system
    capabilities BLOCK_SUSPEND SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver

# Turbo Charging
on boot
    chown system system /sys/class/power_supply/battery/constant_charge_current
    chmod 0664 /sys/class/power_supply/battery/constant_charge_current
    chown system system /sys/class/qcom-battery/sport_mode
    chmod 0664 /sys/class/qcom-battery/sport_mode
